/*---universal styles---*/

* {
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
}

/*---logo---*/

#logo {
  display: inline-block;
  text-align: center;
  width: 300px;
  height: 200px;

}

#hand-emoji {
    font-size: 63px;
}

/*---form---*/

form{
  display: inline-block;
  
}

/*---cards---*/

.archive-img {
  background-color: transparent;
  color: white;
}



/*---footer---*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 255, 170);
    color: rgb(15, 5, 5);
    text-align: center;
    font-weight: bold;
  }
  